.header {
	/*position: fixed;*/
	height: 60px;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
	/*padding: 10px;*/
	background-color: #00bcd4;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
}
.header span {
	display: inline-block;
	padding: 17px 0;
	vertical-align: middle;
}
.header span i {
	color: #fff;
	font-size: 25px;
	cursor: pointer;
}

.card {
	/*display: inline-block;*/
	box-sizing: border-box;
	width: 550px;
	margin: 20px auto;
	padding: 20px 30px;
	background-color: #fff;
	box-shadow: 0px 2px 4px #AFAFAF;
	border-radius: 5px;
	transition: all 500ms;	
}
.card:hover {
	box-shadow: 0px 4px 30px #AFAFAF;
	transition: all 500ms;	
}
.card:hover>.card-option {
	visibility: visible;
	/*transition: all 500ms;*/
}
.card-title {
}

.card-tag {
	margin: 10px 0 25px;
}
.card-tag-item {
	padding: 5px 10px;
	font-size: 14px;
	background-color: #ddd;
	border-radius: 13px;
}
.card-content {
	font-family: "robot mono", monospace;
	transition: all 300ms;
}
.card-content:focus {
	padding-bottom: 30px;
	transition: all 300ms;
}
.card-option {
	visibility: hidden;  /*默认隐藏选项*/
	list-style: none;
	padding-left: 0;
	margin-top: 40px;
}
.card-option-item {
	display: inline-block;
	margin-left: 15px;
}
.card-option-item:hover>i {
	color: #000;
	transition: all 500ms;	
}
.card-option-item:first-child {
	margin-left: 0;
}
.card-option-item>i {
	cursor: pointer;
	font-size: 20px;
	color: #555;
	transition: all 500ms;
}


/*SideNav*/
.sidenav {
	display: none;
	position: fixed;
	top: 0;
	left: 0px;
	width: 300px;
	height: 100vh;
	text-align: center;
	background-color: #fff;
	box-shadow: 6px 0 20px rgba(1,1,1,.1);
	/*transition: all 500ms;*/
}

.sideNav-person-center {
	display: inline-block;
	margin-top: 40px;
	text-align: center;

	color: #000;
	text-decoration: none;
}
.sideNav-person-center>img {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%
}
.sideNav-person-center>p {
	margin-top: 0;
}
.sidenav>ul {
	/*margin-top: 30px;*/
	padding-left: 0;
	list-style: none;
}
.sidenav-item {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	cursor: pointer;
	transition: all 800ms;
}
.sidenav-item:hover {
	background: #eee;
	transition: all 800ms;
}
.sidenav-item-name {
	line-height: 24px;
}
.sidenav-item>i {
	margin-left: 50px;
	margin-right: 10px;
	vertical-align: middle;
}

/*FAB*/
.FAB {
	position: fixed;
    bottom: 45px;
    right: 45px;
    display: inline-block;
    width: 60px;
    height: 60px;
    font-weight: lighter;
    font-size: 47px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: #f44336;
    box-shadow: 3px 3px 10px #A9A9A9;
    transition: all 500ms;
    border-radius: 50%;
}
.FAB:hover {
	box-shadow: 4px 6px 40px #A9A9A9;
	transition: all 500ms;
}
/*END FAB*/

/*JavaScript CSS*/
.float-msk {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	height: 100vh;
	background-color: rgba(12, 12, 12, .3);
}
