.header {
	/*position: fixed;*/
	height: 60px;
	width: 100%;
	/*padding: 10px;*/
	background-color: #00bcd4;
}
.header span {
	display: inline-block;
	padding: 17px 0;
	vertical-align: middle;
}

.card {
	/*display: inline-block;*/
	box-sizing: border-box;
	width: 550px;
	margin: 20px auto;
	padding: 20px 30px;
	background-color: #fff;
	box-shadow: 0px 2px 4px #AFAFAF;
	border-radius: 5px;
	transition: all 500ms;	
}
.card:hover {
	box-shadow: 0px 4px 30px #AFAFAF;
	transition: all 500ms;	
}
.card:hover>.card-option {
	visibility: visible;
	/*transition: all 500ms;*/
}
.card-title {

}

.card-tag {
	margin: 10px 0 25px;
}
.card-tag-item {
	padding: 5px 10px;
	font-size: 14px;
	background-color: #ddd;
	border-radius: 13px;
}
.card-content {
	font-family: "robot mono", monospace;
}
.card-content:focus {
	padding-bottom: 30px;
}
.card-option {
	visibility: hidden;  /*默认隐藏选项*/
	list-style: none;
	padding-left: 0;
	margin-top: 40px;
}
.card-option-item {
	display: inline-block;
	margin-left: 15px;
}
.card-option-item:hover>i {
	color: #000;
	transition: all 500ms;	
}
.card-option-item:first-child {
	margin-left: 0;
}
.card-option-item>i {
	cursor: pointer;
	font-size: 20px;
	color: #555;
}


/*SideNav*/
.sidenav {
	position: fixed;
	top: 0;
	left: -400px;
	width: 400px;
	height: 100vh;
	background-color: #fff;
}
.sidenav>ul {
	list-style: none;
	padding-left: 0;
}
.sidenav-item-name {
	line-height: 24px;
}
.sidenav-item>i {
	margin-left: 50px;
	margin-right: 10px;
	vertical-align: middle;
}


.func-tip {
	width: 30px;
	height: 20px;
	background-color: #333;
	color: #fff;
}